<h1> Our best artists</h1>

<% @artists.each do |artist| %>
  <p><%= artist.name %></p>
<% end %>


<% @artists.each do |artist| %>
<%= link_to "Create a new Artist, new_artist_path" %>
<% end %>
<br>

<br>
<%= link_to "New Artist", artist_new_artist_path %>
<%= link_to "All Artists", artist_artists_path %>

