<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Urify App</a>
      	<p class="navbar-brand button-main"><%= link_to "Start", root_path %>
        <p class="navbar-brand button-main"><%= link_to "Discover music", artists_path %></p>
    </div>
  </div>
</nav>
