<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Codaisseurify App</a>
        <p class="navbar-brand button-main"><%= link_to "Discover music", artists_path(:artist_id) %></p>
    </div>
  </div>
</nav>
