@import "bootstrap-sprockets";
@import "bootstrap";

body{
		font-family: 'Cabin', sans-serif;
		color: #2C2D34;
		padding-botton: 50px;
}


hr{
	border-color: #E94822;
}

a{
		text-decoration: none;
		color: #E94822;
		text-shadow: 1.1px 1px 0.8px black;
}

a:hover{
		text-decoration: none;
		font-weight: 600;
		color: #E94822;
}

.box{
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	width: 1000px;
	background-color: rgba(244, 239, 239, 0.5);
	padding: 30px;
	border-radius: 2%;
}


.artist-container {
    max-width: 960px;
    max-height: 500px;
    margin:10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist-container img{
    width: 200px;
    max-height: 240px;
    border-radius: 2%;
    margin: 20px;
	z-index: 5;
}

.songs-container{
	max-width: 960px;
	height:600px;
	margin:8%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	z-index: 5;
}

h3{
  font-size:20px;
}

h1{
	font-size: 60px;
  margin: 20px 0 10px 70px;
}

.artist-flex{
	display: flex;
  margin-bottom: 100px  !important;
}
.artist{
  background-color: #2C2D34;
  border-radius: 2%;
  padding:10px;
  margin: 10px 10px 50px 10px;
 }

.artist-big img{
	background-color: rgba(98, 74, 74, 0.5);
	border-radius: 2%;
	padding:80px 50px 25px 50px;
	width: 400px;
	margin-left: 100px;
}

.repository-songs{
	font-size: 16px;
}


.delete_song{
		align-items: flex-end;
}

.button-to-right{
		align-items: right;
}

.container-data{
		background-color: rgba(244, 239, 239, 0.7);
		padding: 30px;
		border-radius: 2%;
		width: 500px;
		margin-left: 100px;
		z-index:2;
}

.brutal{
		opacity: .5;
		width: 100%;
		top: 15px;
		position: absolute;
		font-family: 'Black Ops One', cursive;
		font-size: 215px;
		text-align: center;
		text-shadow: -10px 10px 0px #E94822,
                 -20px 20px 0px #F2910A,
                 -30px 30px 0px #EFD510;
    z-index: -1;
	}

.three{
	letter-spacing: 25px;
	margin-left: 5px;
}


form{
	margin: 100px 5%;
}

input{
	border-color: #2C2D34;
}

.details-song{
	display: flex;
	flex-direction: column;
	margin: 80px auto;
	width: 1000px;
	background-color: rgba(244, 239, 239, 0.7);
	padding: 30px;
	border-radius: 2%;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: black;
    padding: 5px 0 15px 70px;
		z-index: 6;
}

footer a{
		margin-left: 30px;
}