@import "bootstrap-sprockets";
@import "bootstrap";

html{
  background-color: black;
  color: lightgrey;
  font-family: 'Cabin', sans-serif;
}

body{
padding-bottom: 25%;
}
.welcome{
margin-left: 70px;
}
button-main{
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
}

.artist-container {
    max-width: 960px;
    max-height: 500px;
    margin:10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist-container img{
    width: 200px;
    max-height: 240px;
    border-radius: 2%;
    margin: 20px;
}


h3{
    font-size:20px;
}

h1{
    margin: 0 0 0 70px;
}

.artist{
    background-color: rgba(98, 74, 74, 0.08);
    border-radius: 2%;
    padding:10px;
    margin: 10px;
}
.artist a{
    margin: 20px;
}

.logo{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: black;
    padding: 5px 0 15px 70px;
}

.artist-flex{
	display: flex;
}

.artist-big img{
	background-color: rgba(98, 74, 74, 0.08);
  border-radius: 2%;
  padding:80px 50px 25px 50px;
	width: 500px;
	margin-left: 100px;
}

.container-data{
	width: 500px;
	margin-left: 100px;
}





