@import "bootstrap-sprockets";
@import "bootstrap";

html{
		background-color: transparent;
}

body{
		padding-bottom: 15%;
		margin-bottom: 30%;
		font-family: 'Cabin', sans-serif;
		color: #2C2D34;
		heigh: 1000px;
		background: red; 
    background: -webkit-linear-gradient(#EFD510, #E94822); 
    background: -o-linear-gradient(#EFD510, #E94822); 
    background: -moz-linear-gradient(#EFD510, #E94822);
    background: linear-gradient(#EFD510, #E94822); 
}

hr{
	border-color: #E94822;
}

a{
		text-decoration: none;
		color: #E94822;
}

a:hover{
		text-decoration: none;
		font-weight: 600;
		color: #E94822;
}
.welcome{
		margin-left: 70px;
}
button-main{
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
}

.artist-container {
    max-width: 960px;
    max-height: 500px;
    margin:10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist-container img{
    width: 200px;
    max-height: 240px;
    border-radius: 2%;
    margin: 20px;
}


h3{
    font-size:20px;
}

h1{
    margin: 0 0 0 70px;
}

.artist{
    background-color: rgba(58, 71, 80, .2);
    border-radius: 2%;
    padding:10px;
    margin: 10px;
}
.artist a{
    margin: 20px;
}

.logo{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: black;
    padding: 5px 0 15px 70px;
}

footer a{
		margin-left: 30px;
}
.artist-flex{
		display: flex;
}

.artist-big img{
		background-color: rgba(98, 74, 74, 0.08);
  	border-radius: 2%;
  	padding:80px 50px 25px 50px;
		width: 500px;
		margin-left: 100px;
}

.container-data{
		width: 500px;
		margin-left: 100px;
}

.gallery{
		width:100%;
		margin: 30px;
}




